<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>93773546612-hd7f7komjkik0kmna67f5vgj4m8q38ns.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.93773546612-hd7f7komjkik0kmna67f5vgj4m8q38ns</string>
	<key>API_KEY</key>
	<string>AIzaSyAzEa6J2ltIsNyTpWf8AHLC25pWapt5EBE</string>
	<key>GCM_SENDER_ID</key>
	<string>93773546612</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>co.line1.Flash-Chat-iOS13</string>
	<key>PROJECT_ID</key>
	<string>flash-chat-ios-13-19678</string>
	<key>STORAGE_BUCKET</key>
	<string>flash-chat-ios-13-19678.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:93773546612:ios:bd31f02a4568fa4fa1bd21</string>
</dict>
</plist>